{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="flex flex-col h-screen">

  <!-- Login Form Section -->
  <section class="bg-[#234193] p-8 flex flex-col flex-grow items-center">
    <p class="text-6 xl font-bold text-white pb-8 mt-4">LOGIN</p>

    <form method="post" class="bg-white p-8 rounded-3xl shadow-lg w-4/5 center">
      {% csrf_token %}

      <!-- Email Field -->
      <div class="mb-6">
        <label for="id_username" class="block text-lg font-semibold mb-2 text-black">Email</label>
        <input type="text" name="username" id="id_username"
               value="{{ form.username.value|default_if_none:'' }}"
               class="w-full text-5xl py-4 px-5 border rounded-xl" required />
        {% if form.username.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.username.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Password Field -->
      <div class="mb-6">
        <label for="id_password" class="block text-lg font-semibold mb-2 text-black">Wachtwoord</label>
        <input type="password" name="password" id="id_password"
               class="w-full text-5xl py-4 px-5 border rounded-xl" required />
        {% if form.password.errors %}
          <p class="text-red-500 text-sm mt-1">{{ form.password.errors.0 }}</p>
        {% endif %}
      </div>

      <!-- Non-field Errors -->
      {% if form.non_field_errors %}
        <p class="text-red-500 text-sm mt-1">{{ form.non_field_errors.0 }}</p>
      {% endif %}

      <!-- Login Button -->
      <button type="submit" class="p-4 border-2 rounded-3xl shadow-lg w-full bg-gray-200 hover:bg-gray-400 text-center mt-4 flex items-center justify-center">
        <h1 class="font-bold text-5xl">Login</h1>
      </button>
    </form>
  </section>

  <!-- Navigation Buttons Section -->
  <section class="bg-[#1BB1E6] p-8 flex-auto">
    <p class="text-5xl font-bold text-white pb-8 mt-4">GEEN TOEGANG?</p>
    <a href="{% url 'password_reset' %}" class="btn btn-primary p-2 border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-gray-200 hover:bg-gray-400 block text-center">
      <h1 class="font-bold text-3xl">
          Wachtwoord Vergeten?
      </h1>
    </a>
    <a href="{% url 'signup' %}" class="btn btn-primary p-2 border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-gray-200 hover:bg-gray-400 block text-center">
      <h1 class="font-bold text-3xl">
          Aanmelden
      </h1>
    </a>
  </section>

  {% include "menu.html" %}
</div>
{% endblock %}
