{% extends "base.html" %}

{% block title %}
Edit account information
{% endblock %}

{% block content %}
<h1>Account information</h1>

<form class="" action="{% url 'accountinfoedit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-row" id="account-information">
        <div class="flex flex-col grow" id="personal-information">
            <h2>User details</h2>
            {{ user_form.as_p }}
        </div>
        {% if member_form %}
        <div class="flex flex-col grow" id="member-information">
            <h2>Member details</h2>
            {{ member_form.as_p }}
        </div>
        {% endif %}
    </div>
    <button>Save account information</button>
</form>

{% endblock %}
