{% extends "base.html" %}

{% block title %}
Account information
{% endblock %}

{% block content %}
<h1 class="font-bold text-3xl">Account information</h1>

<div class="flex flex-row text-center" id="account-information">
    <div class="flex flex-col grow" id="personal-information">
        <h2>Personal details</h2>
        <div>
            <img class="m-auto w-24 h-24" src=" {% if user_info.picture %} {{ user_info.picture.url }}  {% else %} /media/default.jpg {% endif %}" alt="Profile Picture">
        </div>
        {% include 'panel.html' with key='Name' value=user_info.name %}
        {% include 'panel.html' with key='Email address' value=user_info.email %}
        {% include 'panel.html' with key='Phone number' value=user_info.phone_number %}
        {% if user_info.groups.count != 0 %}
        <div>
            <h3>My groups</h3>
            {% for group in user_info.groups %}
                <h4>{{ group.name }}</h4>
                <p>{{ group.description }}<p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if member_info|length != 0 %}
        <div class="flex flex-col grow" id="membership-information">
            <h2>Member details</h2>
            {% if member_info.show_birthday %}
                {% include 'panel.html' with key='Date of birth' value=member_info.birthday %}
            {% endif %}
            {% include 'panel.html' with key='Member since' value=member_info.member_since %}
            <div>
                <h3>Participated activities</h3>
                {% for activity in member_info.activities %}
                <!-- {% include 'participatedactivity.html' with activity=activity %} -->
                    <div>
                        <h4>{{ activity.title }}</h4>
                        <p>{{ activity.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
<a class="button" href="{% url 'accountinfoedit' %}">
    <button class="px-1 border text-base font-normal rounded bg-gray-200 hover:bg-gray-300 active:bg-gray-400">Edit account information</button>
</a>

{% endblock %}
