
{% extends "base.html" %}

{% block title %}
    Details reservering
{% endblock %}

{% block content %}
<div class="flex flex-col h-screen">
    <section id="reservation detail" class="bg-[#234193] p-8" flex flex-col>
        <h1 class="text-6xl font-bold text-white pb-8 mt-4">RESERVERINGSDETAILS</h1>

        <div class="p-4 border-2 border-red-500 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-white text-left">
            <h2 class="font-bold text-5xl mb-4">{{ object }}</h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-2xl">
                <div class="border p-4 rounded-xl bg-gray-100 col-span-2 flex gap-2">
                    <span class="font-bold whitespace-nowrap">Beschrijving: </span> {{ reservation.reserved_item.description }}
                </div>
                <div class="border p-4 rounded-xl bg-gray-100">
                    <span class="font-bold">Starttijd:</span> {{ reservation.start }}
                </div>
                <div class="border p-4 rounded-xl bg-gray-100">
                    <span class="font-bold">Eindtijd:</span> {{ reservation.end }}
                </div>
                <div class="border p-4 rounded-xl bg-gray-100">
                    <span class="font-bold">Locatie:</span> {{ reservation.reserved_item.get_location_display }}
                </div>
                <div class="border p-4 rounded-xl bg-gray-100">
                    <span class="font-bold">Type:</span> {{ reservation.reserved_item.reservable_type.name }}
                </div>
            </div>

        </div>
    </section>

    <!-- Edit Reservation Zonder Kleur-->
    <section id="delete reservation" class="bg-[#1BB1E6] flex-auto p-8">
        <h1 class="text-5xl font-bold">BEWERK RESERVERING</h1>
        <a href="{% url 'reservation-update' pk=object.id location=reservation.reserved_item.location %}" class="btn btn-primary p-2 font-bold border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-gray-200 hover:bg-gray-400 block text-center">
            <span class="font-bold text-3xl">
                Bewerk Reservering
            </span>
        </a>
        <a href="{% url 'reservation-delete' pk=object.id %}" class="btn btn-primary p-2 font-bold border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-gray-200 hover:bg-gray-400 block text-center">
            <span class="font-bold text-3xl">
                Verwijder Reservering
            </span>
        </a>

    </section>
    {% include "menu.html" %}
{% endblock %}






{% comment %}
 What do we want to display:
Name object, Description object, Reservable type, Location, (Reservable), Capacity, (Boat has engine), Boat provider, Start time - End time - Duration of reservation,Who reserved it, delete / edit reservation, (photo of boat)
{% endcomment %}
