{% extends "base.html" %}

{% block title %}
Bewerk reservering
{% endblock %}

{% block content %}
<div class="bg-[#1BB1E6] relative flex flex-col h-screen ">
    <section class="bg-[#234193] p-8 w-full">
        <h1 class="text-5xl font-bold text-white">RESERVEREN</h1>
        <div class="flex justify-center items-center">
            <ul class="flex flex-wrap text-4xl font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="me-2">
                    <a href="{% if object.pk %}{% url 'reservation-update' object.pk '1' %}{% else %}{% url 'reservation-add' '1' %}{% endif %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 1 %}text-white active" {% endif %}
                       aria-current="page">Board Room</a>
                </li>
                <li class="me-2">
                    <a href="{% if object.pk %}{% url 'reservation-update' object.pk '2' %}{% else %}{% url 'reservation-add' '2' %}{% endif %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 2 %}text-white active" {% endif %}
                       aria-current="page">Bastion</a>
                </li>
                <li class="me-2">
                    <a href="{% if object.pk %}{% url 'reservation-update' object.pk '3' %}{% else %}{% url 'reservation-add' '3' %}{% endif %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 3 %}text-white active" {% endif %}
                       aria-current="page">Kraaij</a>
                </li>
                <li class="me-2">
                    <a href="{% if object.pk %}{% url 'reservation-update' object.pk '0' %}{% else %}{% url 'reservation-add' '0' %}{% endif %}"
                       class="uppercase inline-block px-4 py-3 {% if location == 0 %}text-white active" {% endif %}
                       aria-current="page">Overige</a>
                </li>
            </ul>
        </div>

        <form method="get">
            {% csrf_token %}
            <select name="reservable_type" onchange="this.form.submit()">
                 <option value="" ></option>
                {% for reservable_type in reservable_types %}
                <option value="{{reservable_type.name}}"
                {% if reservable_type.name == selected_reservable_type %} selected {% endif %}>{{reservable_type.name}}</option>
                {% endfor %}
            </select>
        </form>

        <form id="reservationform" method="post">
            {% csrf_token %}
            <div class="text-red-600">
                {{ form.non_field_errors }}
            </div>
            <div class="bg-white p-4 rounded-3xl border-4 border-black shadow-lg w-4/5 mx-auto text-left">
                <div class="flex flex-wrap gap-4 justify-center">
                    {% for field in form %}
                    {% if field.name != 'reserved_item' and field.name != 'authorized_userskippership' %}
                        <div class="flex flex-col items-center text-center min-w-[200px] space-y-2">
                            <label for="{{ field.id_for_label }}" class="text-3xl font-bold">
                                {{ field.label }}:
                            </label>
                            <div class="text-3xl font-bold w-full">{{ field }}</div>
                            {% if field.help_text %}
                            <p class="text-sm text-gray-500 font-medium">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                            <p class="text-red-600 text-sm font-semibold">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endfor %}
                    <div class="text-2xl font-bold">Schipper: </div><div class="text-xl">{{ form.authorized_userskippership }}</div>
                </div>
            </div>

            <div class="grid-cols-1 w-3/5 justify-self-center mt-4">
                {% for item in form.reserved_item.field.queryset %}
                    <div class="text-3xl font-medium text-gray-900 flex grid grid-cols-3" role="group">
                        <input type="radio"
                            value="{{ item.pk }}"
                            name="{{ form.reserved_item.name }}"
                            id="reserved_item_{{ forloop.counter }}"
                            class="peer hidden" required>

                    <label for="reserved_item_{{ forloop.counter }}"
                           class="w-full p-4 mb-4 text-left border-4 border-black rounded-s-3xl shadow-lg bg-white peer-checked:bg-gray-400">
                        {{ item.name }}
                    </label>

                    <div
                         class="border-black {% if item.is_reservable %} bg-green-600 {% else %} bg-red-600 {% endif %} p-4 mb-4 border-4 shadow-lg">
                        <span>
                            {% if item.is_reservable %} Beschikbaar {% else %} Niet Beschikbaar {% endif %}
                        </span>
                    </div>

                    <details class="open" name="open">
                        <summary
                                 class="p-4 mb-4 border-4 border-black rounded-e-3xl shadow-lg bg-white hover:bg-gray-200">
                            Info
                        </summary>
                        <div
                             class="p-4 py-8 bg-white inset-0 rounded-2xl w-1/2 h-2/5 border-4 border-black my-auto mx-auto fixed">
                            <span onclick="this.closest('details').removeAttribute('open')"
                                  class="bg-[#1BB1E6] rounded-full flex items-center justify-center font-bold uppercase absolute -right-4 -top-4 w-10 h-10 text-white hover:bg-blue-300">
                                X
                            </span>
                            <h1 class="text-[#234193] font-bold">
                                {{ item.name }}
                            </h1>

                                <p class="text-2xl my-3">
                                    {{ item.description }}
                                </p>
                                {% if item.location != 0 %}
                                    <p class="text-2xl my-3">
                                        Locatie: {{ item.get_location_display }}
                                    </p>
                                {% endif %}
                                {% if item.reservable_type.category == 1 %}
                                <div class="text-xl">
                                    <p class="my-3">
                                        Capaciteit: {{ item.boat.capacity }}
                                    </p>
                                    <p class="my-3">
                                        Aanbieder: {{ item.boat.get_fleet_display }}
                                    </p>
                                    <p class="my-3">
                                        Motor: {% if item.boat.has_engine %} Ja {% else %} Nee {% endif %}
                                    </p>
                                    <p class="my-3">
                                        {% if item.boat.requires_skippership != None %} Benodigd schipperschap: {{ item.boat.requires_skippership }} {% endif %}
                                    </p>
                                </div>
                                {% elif item.reservable_type.category == 2 %}
                                <div class="text-xl">
                                    <p class="my-3">
                                        Capaciteit: {{ item.room.capacity }}
                                    </p>
                                </div>
                                {% elif item.reservable_type.category == 3 %}
                                <div class="text-xl">
                                    <p class="my-3">
                                        Maat: {{ item.material.size }}
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </details>

                </div>
                {% endfor %}
            </div>

        </form>
    </section>

    <section id="submit reservation" class="bg-[#1BB1E6] flex flex-col p-8 pb-30">
        <h1 class="text-5xl font-bold">RESERVERING INDIENEN</h1>
        <form method="post" class="w-4/5 mx-auto">
            {% csrf_token %}
            <button type="submit" form="reservationform"
                    class="btn btn-primary p-2 border-2 rounded-3xl shadow-lg w-full bg-gray-200 hover:bg-gray-400 block text-center">
                <span class="font-bold text-3xl">Reservering Indienen</span>
            </button>
        </form>
        <a href="{% url 'reservations' %}"
           class="btn btn-primary p-2 font-bold border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-gray-200 hover:bg-gray-400 block text-center">
            <span class="font-bold text-3xl">Annuleer</span>
        </a>
    </section>


    <div class="fixed bottom-0 w-full">
        {% include "menu.html" %}
    </div>
    {% endblock %}
