{% extends "base.html" %}

{% block title %}
    Reserveringen
{% endblock %}

{% block content %}
<div class="flex flex-col h-screen">
    <section id="reservations" class="bg-[#234193] p-8 flex flex-col">
        <h1 class="text-6xl font-bold text-white pb-8 mt-4">MIJN RESERVERINGEN</h1>
        {% if reservations %}
            <form method="get" class="bg-white p-8 rounded-3xl shadow-lg w-4/5 mx-auto text-3xl font-bold">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Toepassen" class="rounded-3xl w-1/2 border-4 hover:bg-gray-400">
            </form>
        {% endif %}

        {% for reservation in reservations %}
            <a href="{% url 'reservation-detail' pk=reservation.id %}" class="btn btn-primary p-4 border-2 border-red-500 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-white hover:bg-gray-400 text-left">
                <span class="font-bold text-3xl">
                    <span class="font-bold text-5xl">
                        {{ reservation }}
                        <br/>
                    </span>
                    <span class="text-4xl">
                        Starttijd: {{ reservation.start }}
                        <br/>
                        Eindtijd: {{ reservation.end }}
                    </span>
                </span>
            </a>
        {% endfor %}
    </section>
    <section id="create reservation" class="bg-[#1BB1E6] flex-auto p-8">
        <h1 class="text-5xl font-bold">MAAK NIEUWE RESERVERING</h1>
        <a href="{% url 'reservation-add' '1' %}" class="btn btn-primary p-2 font-bold border-2 rounded-3xl shadow-lg mx-auto my-3 w-4/5 bg-white hover:bg-gray-400 block text-center">
            <span class="font-bold text-3xl">
                Maak reservering
            </span>
        </a>
    </section>
    {% include "menu.html" %}
</div>
{% endblock %}
