{% extends "base.html" %}

{% block title %}
Account information
{% endblock %}

{% block content %}
<div class="flex flex-col h-screen">

  <!-- Dark Blue Top Section -->
  <section class="bg-[#234193] flex flex-col p-8 flex-grow items-center text-white">
    <p class="text-6xl font-bold mb-6">ACCOUNT GEGEVENS</p>

    <div class="flex flex-col md:flex-row w-full gap-12 text-white text-5xl" id="account-information">

      <!-- Personal Information -->
      <div class="flex flex-col flex-1 items-center" id="personal-information">
        <div class="bg-white text-black rounded-3xl w-4/5">
          <p class="text-4xl font-semibold mb-4 text-center p-8">Persoonlijke gegevens</p>

          <div class="flex justify-center p-8">
            <img class="w-64 h-64 rounded-full border-4 border-black" src="{% if user_info.picture %}{{ user_info.picture.url }}{% else %}/media/Default_pfp.png{% endif %}" alt = "Profile Picture">
          </div>

          <div class="text-5x">
            <div class="p-4">
            {% include 'account_info/panel.html' with key='Name' value=user_info.name %}
            </div>
            <div class="p-4">
            {% include 'account_info/panel.html' with key='Email address' value=user_info.email %}
            </div>
            <div class="p-4">
            {% include 'account_info/panel.html' with key='Phone number' value=user_info.phone_number %}
            </div>
          </div>

          {% if user_info.groups.count != 0 %}
          <div>
              <h3>Mijn groepen</h3>
              {% for group in user_info.groups %}
                  <h4>{{ group.name }}</h4>
                  <p>{{ group.description }}<p>
              {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>


      <!-- Leden Informatie -->
      {% if member_info|length != 0 %}
      <div class="flex flex-col flex-1 items-center" id="membership-information">
        <p class="text-4xl font-semibold mb-6">Lidmaatschapsgegevens</p>
        <div class="w-4/5 space-y-4">
          {% if member_info.show_birthday %}
            {% include 'account_info/panel.html' with key='Date of birth' value=member_info.birthday %}
          {% endif %}
          {% include 'account_info/panel.html' with key='Member since' value=member_info.member_since %}
        </div>

        <div class="mt-6 w-4/5">
          <p class="text-3xl font-semibold mb-2">Deelnames</p>
          {% for activity in member_info.activities %}
            <div class="mb-2">
              <p class="text-xl font-bold">{{ activity.title }}</p>
              <p>{{ activity.description }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Buttons -->
    <div class="w-4/5 flex flex-col gap-4 mt-10 items-center">
      <a href="{% url 'accountinfoedit' %}" class="w-full">
        <button class="w-full p-4 text-3xl bg-gray-200 hover:bg-gray-400 text-black rounded-3xl shadow-lg">
          Pas gegevens aan
        </button>
      </a>

      <form method="post" action="{% url 'logout' %}" class="w-full">
        {% csrf_token %}
        <button type="submit" class="w-full p-4 text-3xl bg-red-200 hover:bg-red-400 text-black rounded-3xl shadow-lg">
          Log uit
        </button>
      </form>
    </div>
  </section>

  <!-- Light Blue Bottom Section -->
  <section class="bg-[#1BB1E6] p-8 flex flex-auto items-center flex-col">
    <p class="text-6xl font-bold text-white pb-8 mt-4 text-center">ACCOUNT VERWIJDEREN</p>
    <a href="{% url 'delete_account' %}" class="btn btn-primary p-4 border-2 rounded-3xl shadow-lg w-4/5 bg-gray-200 hover:bg-gray-400 text-center">
      <p class="font-bold text-5xl">Verwijderen</p>
    </a>
  </section>
  <div class="pb-27">
    {% include "menu.html" %}
  </div>
</div>
{% endblock %}
