@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
}

.available {
    background-color: rgba(0, 128, 0, 0.8);
}

.not-available {
    background-color: rgba(255, 0, 0, 0.8);
}

/* Base styles for all form elements */
input, select, textarea, button {
  @apply px-2 border rounded;
  @apply focus:outline-none focus:ring focus:ring-blue-300;
}

/* Specific styles for input fields */
input {
  @apply text-black bg-white border-gray-400;
}

/* Style for textareas */
textarea {
  @apply resize-y h-32 border-gray-400;
}

/* Select dropdown styling */
select {
  @apply bg-white border-gray-400 appearance-none;
}

/* Button styling */
button, input[type="submit"] {
  @apply bg-gray-200 text-black font-normal rounded;
  @apply hover:bg-gray-300 active:bg-gray-400;
}

/* Disabled styles */
input:disabled, textarea:disabled, select:disabled, button:disabled {
  @apply bg-gray-100 cursor-not-allowed opacity-50;
}

/* Error state styles */
input.error, textarea.error, select.error {
  @apply border-red-600 focus:ring-red-300;
}

/* Success state styles */
input.success, textarea.success, select.success {
  @apply border-green-600 focus:ring-green-300;
}

h1, h2, h3, h4 {
  @apply font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}