<div class="w-full bottom-[0] bg-[#2972b3] grid grid-cols-5 items-center text-white text-2xl font-bold">
    <a href="{% url 'main' %}" class="btn btn-primary p-4 hover:bg-[#234193]">
        <img class="mx-auto max-w-[3rem] h-auto" src="/media/home.png">
        Home
    </a>
    <a href="{% url 'accountinfo' %}" class="btn btn-primary p-4 hover:bg-[#234193]">
        <img class="mx-auto max-w-[3rem] h-auto" src="/media/user.png">
        Profiel
    </a>
    <a href="{% url 'events:events' %}" class="btn btn-primary p-4 hover:bg-[#234193]">
        <img class="mx-auto max-w-[3rem] h-auto" src="/media/briefcase.png">
        Activiteiten
    </a>
    <a href="{% url 'reservations' %}" class="btn btn-primary p-4 hover:bg-[#234193]">
        <img class="mx-auto max-w-[3rem] h-auto" src="/media/clipboard.png">
        Reserveringen
    </a>
    <a href="" class="btn btn-primary p-4 hover:bg-[#234193]">
        <img class="mx-auto max-w-[3rem] h-auto" src="/media/more-horizontal.png">
        Meer
    </a>
</div>
